/* Custom styles replacing Tailwind utility classes */
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #101010;
  color: #F5F5F7; /* Moved color here for broader application */
}
.projects-section {
  padding: 3rem 1rem;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.section-header {
  text-align: center;
  margin-bottom: 3rem;
}
.top-page-title{
  font-size: 5rem;
  font-weight: normal;
  color: #F5F5F7;
}
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.project-card {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.card-content {
  background-color: #333335;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 1rem; /* Ensure there's padding around the content */
}
.card-image {
  width: calc(100% - 2rem); /* Adjust width to be less than 100% */
  height: 300px;
  object-fit: cover;
  /*now center the image*/
  margin: 1rem;
  display: block;
  border-radius: 0.5rem;
}
.card-text {
  padding: 1.5rem;
}
.card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #F5F5F7;
}
.card-description {
  color: #b3b3b3; /* Adjusted for better contrast */
  margin-bottom: 1rem;
}
.skills {
  margin-bottom: 1rem;  
}
/*add hover to skills*/
.skills:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.skill {
  display: inline-block;
  background-color: #1D4ED8; /* Tailwind Blue 600 */
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem; /* Tailwind text-sm */
  font-weight: 600; /* Tailwind font-semibold */
  color: #E2E8F0; /* Tailwind text-gray-200 */
  margin-right: 0.5rem;
  transition: background-color 0.3s ease-in-out; /* Add transition property */
}

.skill:hover {
  background-color: #2563EB; /* New background color on hover */
}

.skill {
  display: inline-block;
  background-color: #1D4ED8; /* Tailwind Blue 600 */
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem; /* Tailwind text-sm */
  font-weight: 600; /* Tailwind font-semibold */
  color: #E2E8F0; /* Tailwind text-gray-200 */
  margin-right: 0.5rem;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  /*make things smaller, less crammed, and easier to read*/
  .card-title {
    font-size: 1.5rem;
  }
  .card-description {
    font-size: 1rem;
  }
  .skill {
    font-size: 0.75rem;
  }
  .card-text {
    padding: 1rem;
  }
  .card-image {
    height: 200px;
  }
  .top-page-title{
    font-size: 3.2rem;
  }
  .section-header {
    margin-bottom: 1.5rem;
  }
  .projects-section {
    padding: 2rem 2rem;
  }
  /*remove exxon logo*/

}

@media (min-width: 768px) {
  .project-card {
    width: 50%; /* 2 cards per row for medium screens */
  }
}

@media (min-width: 1024px) {
  .project-card {
    width: 33.333%; /* 3 cards per row for larger screens */
  }
}