/* Resets margin and padding for all elements */
* {
  margin:0px;
  padding:0px;
}



/* Smooth scrolling behavior for the whole page */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

/* Styling for the navigation bar */
nav {
    background: #2d3142;
    overflow: hidden;
    text-align: center;
    z-index: 10; /* Keeps it above everything */
    position: sticky;
    top: 0; /* Sticks to the top */
    height: auto;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.211); /* Soft shadow */
}

/* Removes default list styles and sets margin and padding for navigation list */
nav ul {
    font-weight: bold;
    padding: 0;
    margin: 0;
    list-style-type: none; /* Removes default bullet points */
}

/* Styling for navigation list items */
nav ul li {
    color:#d8d5db;
    display: inline-block;
    padding: 15px;
    margin:10px;
    line-height: 1;
    vertical-align: top;
}

/* Hover effect for navigation list items */
nav ul li:hover {
    color: #b0d7ff;
    transition: color 0.3s, color 0.3s;
}

/*General styling for body*/

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #2d3142;
}

/* Styling for the profile section */
.about-me{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./banner.jpeg);
    background-size: cover;
    background-position: center;

    color:#d8d5db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headshot{
    border-radius: 50%; /* Makes the image round */
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-top: 30px;
}

.mac-window{
    background: #1e1e1e;
    border-radius:8px;
    padding: 2rem;
    padding-top: 2.5rem; /*to make room for the traffic light*/
    position:relative;
    margin: 2rem auto;
    width: max-content;
}
.traffic-lights {
    /* Styling for the window control buttons */
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    gap: 0.5rem;
}
.traffic-lights .light {
    /* Common styling for all lights */
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
.light.red {
    background: #ff605c;
}
.light.yellow {
    background: #ffbd44;
}
.light.green {
    background: #00ca4e;
}

/*typewriter effect*/
@keyframes typing {
    /*Typing effect from nothing to full width text.*/
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blink-caret {
    /*Blinking cursor effect from transparent to colored.*/
    from, to { border-color: transparent; } 
    50% { border-color: #0058DD; }
}
.typewriter h1 {
    /* Styling for typewriter effect */
    font-weight:normal; /*instead of usual bold for h1*/
    padding-top:2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;

    overflow: hidden;
    white-space: nowrap; /*keeps it on one line*/
    margin: 0 auto; /*centers it*/
    letter-spacing: .15em; 
    animation: typing 3s steps(12, end) forwards, blink-caret 1s step-end infinite;
    border-right: .1em solid #0058DD; /* The typewriter cursor */
}

/* Styling for the Experience section */
.experience {
    position: relative;
    background-color: #d8d5db;
    padding: 10px 0;
    
}

.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%; /*this line is used to make the container full width*/
    max-width: 1000px; /*TODO: check later to make it always full and centered*/
    margin: auto;
    text-align: center;

    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enables snapping */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    scroll-padding-left: 14vw; /*adjusted to show a little of the prev and next card.*/
}

.experience-details {
    background-color: #2d3142;
    border-radius: 15px;
    color: #d8d5db;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns children to the start */
    align-items: center; /* Center aligns children horizontally */
    height: 100%; /* Ensure this is set to allow space distribution */
}

.experience-details ul {
    padding: 10px; /* Removes padding */
}

.experience-details li {
    text-align: center; /* Aligns text to the left */
}


.company-img {
    width: 100%;
    height: auto;
    align-self: center; /* Center logo in the grid area */
    justify-self: center; /* Center logo in the grid area */
}

footer{
    display: flex;
    align-items: center;/*aligns stuff vertically*/
    justify-content: center; /*aligns stuff horziontally*/
    color: #2d3142;
    background-color: #d8d5db;
}

footer p{
    margin-top: 50px;
}

/*GLOWING BUTTON =-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/
.button-85 {
    padding: 0.6em 2em; /* Increased padding for larger button size */
    font-size: 1em; /* Larger text */
    margin-bottom: 20px;


    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: filter 0.4s ease-in-out;
    
    border-radius: 10px;
  }
  .button-85:hover:before {
    filter: blur(12px); /* Increased blur for bigger glow */
}
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }/*END OF BUTTON HERE =-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/

.skills{
    text-align: center;
}

.skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center; /* Horizontally space around items */
    align-items: center;
}

.icon{
    position: relative;
}

.projects{
  background-color: #d8d5db;
}

#top-page-exp{
  margin-bottom: -30px; /*lower it to get to the carousel*/
  font-size: 75px;
  color:#2d3142;
  font-family: 'Courier New', monospace;
}

#top-page-skills{
  font-size: 75px;
  color: #d8d5db;
  font-family: 'Courier New', monospace;
}

.projects{
    text-align: center;
}
#top-page-projects{
    margin-bottom: -30px;
    font-size: 75px;
    color: #2d3142;
    font-family: 'Courier New', monospace;   
}

/*STYLING FOR THE CAROUSEL-----------=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.experience{
    position: relative;
    overflow: hidden;
} 
.experience-container {
    padding:10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden; /* Prevent vertical scrolling */
}


.experience-card {
    position:relative;
    
    flex: 0 0 auto; /* first two numbers are for flex-grow and flex-shrink, the last one is for flex-basis which helps to set the width of the card */
    width: 250px;
    height: 450px;
    margin-right: 20px;
    padding: 20px; /* Add padding */
    padding-bottom:500px;
    background-color: #fff; /*CHANGE LATER Add background color */
    border-radius: 8px; /* Round the corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add a shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */

    scroll-snap-align: start; /* Snaps the start of the element to the scroll container's snapport */

}
  
.experience-image {
  position: relative; /*this line is used to position the discount tag and the button*/
  width: 100%;
  height: 150px;
  overflow: hidden; /*this line is used to hide the overflowing content*/
}

.experience-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover; /*this line is used to make the image fit the container*/
}

.experience-info{
  display: flex;
  flex-direction: column; /*this helps us align everything vertically in a flex*/
  align-items: center; /*center all items inside*/
}

.experience-date {
  display: block; /* Ensure these are on new lines */
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
}

.experience-description {
  display: block; /* Ensure these are on new lines */
  margin-bottom: 5px; /* Add a bit of margin below each */
  font-weight: 900;
  font-size: 20px;
}

.card-btn {
  /*this section is used to style the button*/
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  margin-bottom:10px;

  font-size:1em;

  border: none;
  width: 90%;
  border-radius: 10px;
  height: 40px;
  background: #2d3142;
  color: #fff;

  transition: box-shadow 0.3s ease-in-out; /* Add transition to the box-shadow property */
}
.card-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a black shadow around the button on hover */
}

.header-container{
  margin: 0 auto; /*top and bottom margin 0... left and right are auto, so centers it.*/
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.title-container {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 2vw; /* Default for smaller screens */
}

/* Small screens (phones)*/
@media (max-width: 600px) { /* Adjust the max-width as needed for targeting phone screens */
  .title-container {
    align-items: center; /* Centers the content for smaller screens */
  }

  .btns {
    display:none; /*no need for the buttons when on the phone*/
  }
  #nav{
    display:none;
  }
  /*all h1 needs to be smaller on phones*/
  h1{
    font-size: 50px !important;
  }
  .typewriter h1{
    /*make it important*/
    font-size: 30px !important;
  }
  #top-page-exp, #top-page-projects{
    margin: 0 auto; /*top bottom margin is 0. left and right auto, to center it*/
  }
}

.pre-btn, .nxt-btn {
  margin:5px;/*margin left is 0 and margin right is 5px*/
  padding:10px;
  background-color: #ffffff;
  border-radius: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle drop shadow, adjust as needed */
}

.pre-btn{
  transform: rotate(180deg);
}


.pre-btn img, .nxt-btn img {
  opacity: 0.2; /*this line is used to make the previous and next buttons less visible*/
  transition: opacity 0.3s ease-in-out; /* Add a transition to the opacity property */
}

.pre-btn:hover img, .nxt-btn:hover img {
    opacity: 1;
}

.collection-container {
  /*this section is used to style the collection container*/
    width: 100%; /*this line is used to make the container full width*/
    display: grid; /*this line is used to make the container a grid*/
    grid-template-columns: repeat(2, 1fr); /*this line is used to make the container have 2 columns*/
    grid-gap: 10px; /* Add a gap between the grid items */
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.collection p {
    /*this section is used to style the collection name*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
  }

  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

.experience-brand {
  font-weight: 900;
  margin: 5px auto;
}
.description { /* Assuming the class for the description is 'description' */
  margin-top: -10px; /* Add a negative top margin to move it closer to the product-brand */
}


.bg-custom{
  /*CSS rule for the custom background color TAILWIND*/
  background-color: #2d3142;
}

